<% include ./partials/header %>

<div class="container-flex">
    <h2 id="output"></h2>
    <!-- <h2 id="output2"></h2> -->
    
    <h1 class="fixed-bottom">BLOW TOWARD YOUR MICROPHONE <i class="fas fa-arrow-down"></i></h1>
</div>

<canvas id="my-canvas"></canvas>


<script type="text/paperscript" src="<%= game.path %>" canvas="my-canvas"></script>
<% include ./partials/footer %>