html, body{
    height: 100%;
    margin: 0;
}

canvas{
    height: 100%;
    width: 100%;
}

#button-bg.btn-primary, #button-bg.btn-primary:hover, #button-bg.btn-primary:focus{
    background-color: #04c49b;
    border-color: #04c49b;
}

#button-bg.btn-primary:active{
    background-color: #04c49c;
    border-color: #04c49b;
}

.image img{
    width: 100%;
    height: auto;
}

.margin-auto{
    margin: auto;
}

h1 a, h1 a:hover{
    color: black;
    text-decoration: none;
}